@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html {
	font-family: 'Open Sans', sans-serif;
}

body {
	background: white;
	transition: background .5s;
}

#main_content {
	padding: 100px;
	padding-top: 20vh;
	padding-bottom: 50px;
	font-size: x-large;
}

#main_text {
	opacity: 0;
	transition: opacity 2.5s;
}

#main_bar {
	font-size: x-small;
	text-align: center;
}

#main_bar p {
	width: 100%;
	text-align: center;
}

#main_bar a {
	text-decoration: none;
}

h1 {
	font-weight: 300;
	transition: color .5s;
	color: #424242;
}

h2 {
	color: black;
	font-weight: 300;
	font-size: larger;
	transition: color .5s;
}

h5 {
	font-weight: 300;
}

a {
	color: #7FBCD4;
}

.keyword {
	color: #D3D3D3;
	position: absolute;
	font-size: 30px;
	font-weight: 300;
	opacity: 0;
	margin: 10px;
}

#keyword1 {
	top: 10px;
	left: 30px;
}

#keyword2 {
	top: 100px;
	left: 400px;
}

#keyword3 {
	top: 57px;
	left: 800px;
}

#keyword4 {
	top: 110px;
	left: 1000px;
}

@media only screen and (max-width: 600px) {
	#main_content {
		padding: 30px;
		padding-top: 20vh;
		font-size: large;
	}
}